name: CI
on:
  push:
    branches: 
            - main
  pull_request:
    branches:
            - main
  schedule:
  - cron: "0 6 * * *"
  
  workflow_dispatch:
  
jobs:
  build:
    runs-on: windows-latest
    steps:
      - run: |
              npm install newman

      - run: |
              npm install -g newman-reporter-htmlextra

      - run: |
              newman run -x "postman/collections/restful-booker_880f2503-8ffd-4e76-9161-58262bc0c334.json" -e "postman/schemas/PlaySmart Environment 1.0.0.postman_environment.json" --reporters junit --reporter-junit-export Results\junitReport.xml --bail
